<form action="upload/send.php" class="form main-form" method="POST">
	<input name="name" type="text" class="form__input" placeholder="Ваше имя">
	<input name="number" type="text" class="form__input" placeholder="Ваш номер *" required>
	<input name="email" type="text" class="form__input form__input_hidden" placeholder="Ваш email *">
	<textarea name="text" class="form__input form__textarea" placeholder="Ваш вопрос"></textarea>
	<p class="form__info">Нажимая отправить, Вы соглашаетесь с <a href="/privacy" class="form__link">Политикой конфиденциальности</a>.<br> Обязательные поля помечены звездочкой.
	</p>
	<button type="submit" class="btn btn_red btn_form">Отправить</a>
</form>