<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form class="form" method="POST">
      <input class="input" placeholder="Название" name="name" required /><br />
      <input class="input" placeholder="Описание" name="text" required /><br />
      <input
        class="input"
        placeholder="Изображение"
        name="img"
        required
      /><br />
      <select name="type" class="select">
        <option value="IT обслуживание" class="option">IT обслуживание</option>
        <option value="Видеонаблюдение" class="option">Видеонаблюдение</option>
        <option value="Охранные системы" class="option">
          Охранные системы
        </option></select
      ><br />
      <p class="title">SEO</p>
      <input
        class="input"
        placeholder="Ключевые слова"
        name="keywords"
        required
      /><br />
      <input
        class="input"
        placeholder="SEO описание"
        name="description"
        required
      /><br />
      <button class="button" type="submit">Создать</button>
    </form>
  </body>
</html>
