{% extends 'common/mainTemplate.html' %}
{% block title %}Наши цены{% endblock %}
{% block content %}

<div class="title-all-page common-block">
    <div class="page-title__icon  "></div>
    <h2 class="page-title__title ">Наши цены</h2>
</div>
<div class="category-block common-block">
    <div class="min-block price-block">
        <div  class="article__title-wrapper">
            <div>
                <h1 class="article__title">Монтаж видеонаблюдения</h1>
                <hr>
            </div>
        </div>
        <table class="price-table">
            <tr>
                <td class="main-td">1 камера с записью в облако</td>
                <td>от 4000 рублей</td>
            </tr>
            <tr>
                <td class="main-td">Комплект: 2 камеры(аналог) + видеорегистратор + жесткий диск + монтаж</td>
                <td>от 15000 рублей</td>
            </tr>
            <tr>
                <td class="main-td">Комплект: 4 камеры(аналог) + видеорегистратор + жесткий диск + монтаж</td>
                <td>от 23000 рублей</td>
            </tr>
            <tr>
                <td class="main-td">Комплект: 8 камер(аналог) + видеорегистратор + жесткий диск + монтаж</td>
                <td>от 35000 рублей</td>
            </tr>
        </table>
        <div  class="article__title-wrapper">
            <div>
                <h1 class="article__title">IT обслуживание</h1>
                <hr>
            </div>
        </div>
        <table class="price-table">
            <tr>
                <td class="main-td">до 5 рабочих мест</td>
                <td>от 2500 рублей</td>
            </tr>
            <tr>
                <td class="main-td">до 10 рабочих мест</td>
                <td>от 5000 рублей</td>
            </tr>
        </table>
        <h4 class="price-table__subtitle">Готовые решения</h4>
        <table class="price-table">
            <tr>
                <td class="main-td">10 рабочих мест + 4 принтера + 1 сервер</td>
                <td>7000 рублей в месяц (АТС + 2000)</td>
            </tr>
            <tr>
                <td class="main-td">20 рабочих мест + 8 принтеров + 1 сервер</td>
                <td>12800 рублей в месяц (АТС + 2000)</td>
            </tr>
        </table>
        <p class="price-table__info">Цены указаны с расчётом на 1 объект</p>
        <div  class="article__title-wrapper">
            <div>
                <h1 class="article__title">Обслуживание видеонаблюдения</h1>
                <hr>
            </div>
        </div>
        <table class="price-table">
            <tr>
                <td class="main-td">до 4 камер</td>
                <td>от 1500 рублей в месяц</td>
            </tr>
            <tr>
                <td class="main-td">до 8 камер</td>
                <td>от 3000 рублей в месяц</td>
            </tr>
            <tr>
                <td class="main-td">до 16 камер</td>
                <td>от 5000 рублей в месяц</td>
            </tr>
            <tr>
                <td class="main-td">до 32 камер</td>
                <td>от 8000 рублей в месяц</td>
            </tr>
        </table>
        <p class="price-table__info">Цены указаны с расчётом на 1 объект</p>
    </div>
</div>
{% endblock %}